/*
Fink62 homepage
Created by: Fink62
*/

body {
    background-color: #EAF6F6;
    font-family: Arial, sans-serif;
}
hr {
    border-style: dotted none none;
    border-width: 5px;
    border-color: lightgrey;
    width: 10%
}
h1, h2, h3 {
    color: #66BFBF;
}
.gNavbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.gNavbarItem {
    margin: 10px;
}
a:link {
    color: Blue;
    text-decoration: none;
}
a:visited {
    color: Blue;
    text-decoration: none;
}
a:active {
    color: Blue;
    text-decoration: none;
}
a:hover {
    color: Blue;
}
